.avatar-container {
    width: 200px;
    height: 200px;
    
    
    margin-top: -8rem;
    margin-bottom: 1.5625rem;
    margin-left: auto;
    margin-right: auto;
    transition: all .3s ease-in-out;

    display: block;
}

.avatar {
    border-radius: 50px;
}

.username {
    font-size: 1.8125rem;
    font-family: "Merriweather", serif;
    margin-bottom: 0.875rem;
    position: relative;
}

.badge {
    font-size: 0.9375rem;
    font-weight: 400;
    border-radius: 10rem;
    padding: 0.5rem 2rem;
}

.badge--dark {
    background-color: #272333;
    color: #fff;
}

.social {
    line-height: 0;
    margin-top: 1.5rem;
    margin-bottom: 1.375rem;
}

@media only screen and (min-width: 580px) {
    .social {
        margin-top: 1.125rem;
        margin-bottom: 1rem;
    }
}

.social__link {
    color: #44566C;
    display: inline-block;
    font-size: 0.875rem;
    margin-left: 0.8125rem;
    text-decoration: none;
}

.social__link {
    color: #fff;
}

.social__link:first-child {
    margin-left: 0;
}