@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap'); */

:root {
    --min-z-index: -1;
    --max-z-index: 100;
    --header-height: 360px;

    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray: #f3f4f6;
    --color-divider: #BDBDBD;
    --color-contact: #9DA0A7;
    --principal-color: #3D4451;
    --principal-color-dark: #2D4358;
    --secondary-color: #14202E;

    --xxs-font-size: 10px;
    --xs-font-size: 12px;
    --sm-font-size: 14px;
    --md-font-size: 16px;
    --lg-font-size: 20px;
    --xl-font-size: 24px;
    --xxl-font-size: 26px;

    --light-font-weight: 300;
    --normal-font-weight: 400;
    --semibold-font-weight: 600;
    --bold-font-weight: 700;
    --extrabold-font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

::after,
::before {
    box-sizing: border-box;
}

main {
    display: block;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-gray);
}

header {
    width: 100%;
}

p {
    font-size: var(--md-font-size);
    font-weight: var(--normal-font-weight);
}
